
/* nav bar */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Poppins';
}

:root {
  --header-color: hsla(266, 71%, 47%, 1);
  --black-color: hsla(0, 0%, 0%, 1);
  --faded-white: hsla(0, 0%, 100%, 1);
}

.html {
  font-size: 62.5%;
}

body {
  background: hsla(300, 4%, 85%, 0.999);
}

.font-classified {
  font-size: 30px;
  font-weight: 700;
}


.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}

.logo {
  order: 1;
  font-size: 2.3rem;
  color: var(--header-color);
  text-transform: uppercase;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.3rem;

}
ul li .get_quote, button {
  padding: 0.3125em 18px;
  background: var(--header-color);
  border-radius: 33px;
  color: #fff;
}

.navbar a {
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: goldenrod;
}
.first_container {
 padding: 100px 100px 0; 
}
.flex-defined,
.flex-column {
  display: flex;
  align-items: center;
}
.first_container {
  justify-content: space-between;
}
.comment {
  width: 400px;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.the_journey {
  font-size: 24px;
  color: hsla(0, 3%, 42%, 1);
}
.design {
  font-size: 48px;
  line-height: 1.2;
}
.design span {
  display: block;
}
.first_container img {
  width: 650px;
}



@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-left: -40px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    overflow: scroll;
  }

  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2.5rem;
  }

  .navbar-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .flex-column {
    flex-direction: column-reverse;
    align-items: center;
  }
  .comment {
    margin-top: 40px;
    margin-left: 200px;
  }
  .first_container img {
   max-width: 400px;
  }
  .w-100 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .navbar-container input[type="checkbox"]:checked~.logo {
    display: none;
  }
}


/* nav bar end */

/* :root {
  --header-color: hsla(266, 71%, 47%, 1);
  --black-color: hsla(0, 0%, 0%, 1);
  --faded-white: hsla(0, 0%, 100%, 1);
}

body {
  background: hsla(300, 4%, 85%, 0.999);
}

header {
  padding-top: 40px;
}

.flex-defined,
.flex-column {
  display: flex;
  align-items: center;
}

.nav-bar {
  justify-content: space-between;
  padding: 0 100px;
}

.logo-color {
  color: var(--header-color);
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: 'Playfair Display SC'
}

.font-classified {
  font-size: 1.875rem;
  font-weight: 700;
}

ul {
  align-items: center;
  gap: 60px;
  font-size: 1.875rem;
  font-weight: 400;
}

ul li a {
  color: var(--black-color);
  cursor: pointer;
}

.get_quote,
button {
  padding: 0.3125em 1.875em;
  background: var(--header-color);
  border-radius: 33px;
}

.get_quote a {
  color: var(--faded-white);
  font-size: 1.25rem;
  font-weight: 700;
}

#check,
.chkbtn {
  display: none;
}

.chkbtn {
  font-size: 2rem;
}

button {
  padding: 15px 70px;
  border: none;
  font-size: 20px;
  color: var(--faded-white);
}

.container {
  align-items: center;
  justify-content: space-between;
  padding: 100px 100px 0;
}

.comment {
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  width: 450px;
}

.the_journey {
  font-size: 1.875rem;
  color: hsla(0, 3%, 42%, 1);
}

.design {
  font-size: 3.75rem;
  line-height: 1.2;
}

.design span {
  display: block;
}

.container img {
  width: 650px;
}

@media screen and (max-width: 720px) {
  .nav-bar {
    padding: 0 20px;
  }

  .chkbtn {
    display: block;
  }

  ul {
    position: absolute;
    top: 100px;
    width: 50%;
    right: -100%;
    height: 50%;
    font-size: 18px;
    background: hsla(43, 74%, 49%, .2);
    transition: all .5s;
  }

  .get_quote a {
    font-size: 14px;
  }

  .flex-column {
    flex-direction: column;
  }

  #check:checked~ul {
    right: 0;
    color: burlywood;
  }

  .logo-color {
    font-size: 1.5rem;
  }

  .font-classified {
    font-size: 1.125rem;
  }

  .container {
    flex-direction: column-reverse;
    width: 100%;
  }

  /*  */
/* .comment {
  gap: 40px;
  width: 100%;
}

.container img {
  width: 100%;
} */
